.notice{
width:315px;
text-align:center;
padding-right:10px;
color:#0000FF;
margin:0px;
height:12px;
margin-top:3px;
}
.notice td {
	text-align:right;
}
.more_notice {
	padding-right:10px;
}
.notice_container {
height:31px;
background:url(../images/tagline_alert_bg.jpg) no-repeat right bottom;
font-size:12px;
}
.notice_panel {
width:300px;
background:#FFFFCC repeat-y center top;
font-size:12px;
font-color:blue;
text-align:left;
}
.admin{
float:right;
margin-right:5px;
}
.adminlog{
width:125px;
height:40px;
text-align:center;
background:url(../images/bg_adminlog.jpg) no-repeat center;
font-size:12px;
font-family:"";
line-height:40px;
float:left;
}

/*add style sheet 2007-8-14*/
.loginfo_r11 {
	width: 152px;
	color:#5C7580;
	text-align:left;
}
.loginfo_r11 DIV {
	background-color:transparent;
}
.loginfo_r12 {
	width:35px;
	color:#0066FF;
	background:url(../images/top_corner_right_1.jpg) center no-repeat;
	text-align:left;
}
.loginfo_r12 a{
	color:#0066FF;
	text-decoration:underline;
}
.loginfo_r12 a:hover{
	color:#FF0000;
}
.loginfo_r13 {
	width:35px;
	background:url(../images/top_corner_right_2.jpg) center no-repeat;
}

.loginfo_r22 {
	width:35px;
	text-align:left;
	color:#0066FF;
	background:url(../images/top_corner_right_4.jpg) center no-repeat;
}
.loginfo_r22 a{
	color:#0066FF;
	text-decoration:underline;
}
.loginfo_r22 a:hover{
	color:#FF0000;
}
.loginfo_r23 {
	width:35px;
	background:url(../images/top_corner_right_3.jpg) center no-repeat;
}
