/*data view*/
.x-panel-body {
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}
.x-editable{
	font-size: 10px;
}

.x-editable_f{
	font-size: 12px;
}

loading-indicator {
	font-size: 11px;
	background-image: url('../images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
	margin: 10px;
}

/*showcase view*/
.x-panel-body {
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}

.thumb {
	background: #8db2e3;
	padding: 1px;
}

.thumb img {
	height: 90px;
	width: 128px;
}

.thumb-wrap {
	float: left;
	margin: 3px;
	padding: 3px;
	
	padding-right: 5px;
	padding-left: 5px;
	/*
	word-break: break-all;
	*/
	width: 130px;
	height: 125px;
}

.thumb-wrap span {
	display: block;
	text-align: center;
	overflow:hidden;
	height: 35px;
	/*
	word-break: break-all;
	overflow:hidden;
	word-wrap:break-word;
	word-break:normal;
	width: 127px;
	*/
	
}
.x-view-over {
	border: 1px  #99bbe8;
	background: #efefef url( ../images/default/grid/row-over.gif ) repeat-x left top;
	/*
	padding: 2px;
	padding-right: 4px;
	padding-left: 4px;
	*/
}

.x-view-selected {
	background: #eff5fb url( ../images/view/selected.gif ) no-repeat right bottom;
	border: 1px #99bbe8;
	/*
	padding: 2px;
	padding-right: 4px;
	padding-left: 4px;
	*/
}

.x-view-selected .thumb {
	background: transparent;
}
